.modal-container {
  position: absolute;
  top: 20%;
  left: calc(50% - 270px);
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 540px;
  z-index: 10;
  background-color: white;
}

.header-container {
  background-color: #c4d7d755;
  color: #1a1a1a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 40px;
  text-align: center;
  width: 100%;
  line-height: 75px;
}

.error-msg {
  color: red;
  text-align: center;
}