.image {
  display: block;
  margin: 0 auto;
  height: 70%;
  width: 90%;
  border-radius: 10%;
}

.image-container {
  margin: 0 auto;
  width: 1128px;
  padding: 25px 0;
}

.login-container {
  position: relative;
  bottom: 1px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  width: 1128px;
  padding: 25px 0;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-areas:
    'login about'
}

.logout {
  display: inline-block;
  margin: auto;
  width: 196px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}

.logout:active {
  background-color: #eee;
}