.container {
  text-align: center;
  margin: 5%;
}

.button {
  margin: 3%;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  background-color: #eee;
}