.nav-container {
  background-color: #445671;
  width: 100%;
}

.nav-bar {
  height: 50px;
  width: 1128px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.list {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.item {
  color: #bdd8e3;
  display: inline-block;
  width: 90px;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
}
.item:hover {
  color: white;
  border-bottom: 2px solid white;
}
.item:active {
  font-size: 20px;
  border-bottom: 2px solid white;
}

a {
  all: unset;
  cursor: pointer;
}

.account,
.username {
  color: #bdd8e3;
  float: right;
  line-height: 50px;
  font-size: 16px;
  padding: 0 12px;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}

.username {
  font-size: 24px
}

.account button {
  background-color: inherit;
  color: #bdd8e3;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 65px;
}
.account button:hover {
  color: white;
  border-bottom: 2px solid white;
}
.account button:active {
  font-size: 14px;
  border-bottom: 2px solid white;
}