.container {
  margin: 5%;
  text-align: center;
}

.name {
  outline: none;
  border-radius: 5px;
  border-width: 1px;
  width: 35%;
  height: 32px;
  margin: 2% 0;
  padding: 0 10px;
}

.text {
  outline: none;
  border-radius: 5px;
  border-width: 1px;
  width: 70%;
  height: 32px;
  margin: 2% 0;
  padding: 0 10px;
}

.submit {
  outline: none;
  border: 1px solid black;
  width: 70%;
  height: 32px;
  margin: 2% 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit:active {
  background-color: #eee;
}