.container {
  position: relative;
  margin: 0 5%;
  height: 85%;
  width: 90%;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  z-index: 1;
}

.vanguard {
  background-color: #D4CFC3;
}

.summary {
  background-color: #E9FCF6;
}