.container {
  position: relative;
  grid-area: portfolio;
  margin: 5% 5% 5% 2.5%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  overflow-y: scroll;
}

table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
}

thead th,
thead td {
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
}
thead th {
  top: 0;
  background: white;
}
thead td {
  top: 48px;
  background: #ccc;
}

th {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  overflow-wrap: break-word;
  width: 15%;
}

.even-row {
  background-color: #F5F6F8;
}

.odd-row {
  background-color: #EEEEEE;
}