.header-container {
  background-color: #c4d7d755;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  height: 75px;
  width: 100%;
  line-height: 100px;
}

.error-msg {
  color: red;
  text-align: center;
}