.form {
  margin: 24px;
  padding: 0 36px;
}

.date, .money {
  width: 280px;
  height: 35px;
  font-size: 14px;
  padding: 0 16px;
  border: 1px solid #d9d9d9;
  outline: none;
  margin: 8px 0 12px 0;
  border-radius: 5px;
  background: transparent;
}

.date {
  padding: 0 16px;
}

.money {
  padding: 0 28px;
}

.label{
  position: relative;
}

.dollar {
  position: absolute;
  left: 16px;
  top: 35px;
  font-size: 14px;
  user-select: none;
}

.cancel-button,
.add-button {
  width: 120px;
  height: 37px;
  padding: 0;
  margin-top: 12px;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.cancel-button {
  background-color: #c02e2e;
}

.add-button {
  background-color: #03ce8b;
  margin-left: 12px;
  float: right;
}
.add-button:disabled {
  background-color: #03ce8b33
}