.content-container {
  width: 884px;
  margin-left: 24px;
}

.no-data-container {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.border {
  border: 5px dashed #ccc;
  border-radius: 5px;
  color: #ccc;
  margin: 25px;
  text-align: center;
  line-height: 640px;
  padding: 0;
}

.text {
  padding: 0;
  margin: 0;
}