.content-container {
  width: 884px;
  margin-left: 24px;
}

.header {
  position: relative;
  margin: 0;
  font-weight: 500;
  color: #333;
}

.dropdown-container {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  background: white;
  width: 192px;
  z-index: 5;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
  padding: 12px 0;
}

.dropdown-header {
  width: 192px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  padding: 0 12px;
}

.dropdown-button {
  width: 192px;
  height: 40px;
  text-align: left;
  outline: none;
  cursor: pointer;
  padding:  0 12px;
  margin: 0;
  border: none;
  font-size: 16px;
  color: #333;
}
.dropdown-button:hover {
  background-color: #d9d9d9;
}
.dropdown-button:active {
  background-color: #a9a9a9;
}

.add-button {
  float: right;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  outline: none;
  color: #666;
  cursor: pointer;
}
.add-button:hover {
  background-color: #547092;
  color: white;
}
.add-button:active {
  background-color: #47607e;
}

.graph-container {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 40px;
}

.border {
  border: 5px dashed #ccc;
  border-radius: 5px;
  color: #ccc;
  margin-top: 25px;
  text-align: center;
  line-height: 540px;
}

.text {
  padding: 0;
  margin: 0;
}