.sidebar-container {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 216px;
}

.list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 6px;
}

.section {
  background-color: #bfd8e3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #666;
  font-size: 16px;
  padding: 12px 0;
  padding-left: 12px;
  margin-bottom: 6px;
}

.edit {
  float: right;
  padding-right: 12px;
}

.icon {
  width: 16px;
  height: 16px;
  color: #666;
}
.icon:active {
  width: 14px;
  height: 14px;
  padding: 1px;
}

.item a {
  display: inline-block;
  background-color: transparent;
  padding: 6px 0 6px 24px;
  width: 192px;
  cursor: pointer;
}
.item {
  color: #1a1a1a;
  position: relative;
  font-size: 14px;
  margin-bottom: 6px;
}
.item:hover {
  color: #0173b1;
  text-decoration: underline;
}
.item:active {
  color: #015481;
}

.show-all {
  color: #666;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
}