.container {
  display: grid;
  grid-template-areas:
    'graph portfolio'
    'graph portfolio'
    'graph portfolio'
    'graph portfolio'
    'analytics portfolio'
    'analytics portfolio';
  margin: 0 5%;
  height: 90%;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
}