.container {
  position: relative;
  display: grid;
  grid-template-areas:
    'graph portfolio'
    'graph portfolio'
    'graph portfolio'
    'graph portfolio'
    'analytics portfolio'
    'analytics portfolio';
  margin: 0 5%;
  height: 90%;
  width: 90%;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  z-index: 1;
}