.company-container {
  width: 596px;
  margin-top: 24px;
  margin-bottom:36px;
  padding: 24px;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 2px #e8e8e8;
  border-radius: 3px;
}

.header {
  margin: 0;
  padding-bottom: 24px;
  padding-top: 8px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 500;
  color: #333;
  margin-bottom: 12px;
}

.last-update {
  float: right;
  font-size: 14px;
  padding-top: 6px;
}